<!--
<div class="container" id="div1">
  <div class="container" id="div2">
      <div class="panel panel-primary" id="panel1">
        <div class="panel-heading" id="ph"><span class="glyphicon glyphicon-map-marker"></span> Rennes</div>
        <div class="panel-body" id="pb">
        
        </div>

      </div>
    </div>
</div> -->
<div>
  <nav>
    <ul>
      <li class="menu-html"><a>HTML</a>
        <ul class="submenu">
          <li><a>cours complet html</a></li>
          <li><a>cours 1</a></li>
          <li><a>cours 2</a></li>
        </ul>
      </li>
      <li class="menu-css"><a>CSS</a>
        <ul class="submenu">
            <li><a>cours complet html</a></li>
            <li><a>cours 1</a></li>
            <li><a>cours 2</a></li>
        </ul>
      </li>
      <li><a class="menu-js">JavaScript</a>
        <ul class="submenu">
            <li><a>cours complet html</a></li>
            <li><a>cours 1</a></li>
            <li><a>cours 2</a></li>
        </ul>
      </li>
      <li><a class="menu-c">Contacts</a>
        <ul class="submenu">
            <li><a>numéro</a></li>
            <li><a>email</a></li>
            <li><a>adresse</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>